@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: lightblue;
  
}

/* RESPONSIVE */

html {
  font-size: 10px;
}

@media (max-width: 900px) {
  html {
    font-size: 7px;
  }
}
